<button
  class="bg-gray-300 pb-2 pl-4 pr-4 pt-2"
  type="button"
  {{on "click" this.startRecording}}
>
  Start
</button>

<button
  class="bg-gray-300 pb-2 pl-4 pr-4 pt-2"
  type="button"
  {{on "click" this.stopRecording}}
>
  Stop
</button>