<FileDropzone @name="audio" as |dropzone|>
  {{#if dropzone.active}}
    {{#if dropzone.valid}}
      Drop to upload
    {{else}}
      Invalid
    {{/if}}
  {{else}}
    <h4>
      Upload Audio/Video
    </h4>
    <p>
      {{#if dropzone.supported}}
        Drag and drop audio/video files onto this area to upload them or
      {{/if}}
      <FileUpload
        @name="audio"
        @accept="audio/*,video/*"
        @multiple={{false}}
        @onfileadd={{@uploadAudioVideo}}
      >
        <a id="upload-audio" tabindex="0">
          Add audio/video.
        </a>
      </FileUpload>
    </p>
  {{/if}}
</FileDropzone>