<button
  class="btn mb-4"
  type="button"
  {{on "click" this.startRecording}}
>
  {{svg-jar "mic" class="mr-2"}} Start recording
</button>

<button
  class="btn mb-4"
  type="button"
  {{on "click" this.stopRecording}}
>
  {{svg-jar "stop-circle" class="mr-2"}} Stop recording
</button>