<div class="bg-alt text-white">
  <nav class="flex h-40 items-end justify-center p-6 w-full">
    <div class="flex flex-wrap items-center justify-between max-w-6xl w-full">
      <a href="/" class="inline-flex">
        <div class="inline-block">
          {{svg-jar "wuf" class="-mt-2 p-2" height="60" width="60"}}
        </div>
        <div class="font-black text-3xl">
          Wüf
        </div>
      </a>

      <p class="text-color2 text-sm">
        Copyright © 2020
        <a href="https://shipshape.io" class="underline hover:text-white">
          Ship Shape Consulting LLC.
        </a>
        All rights reserved.
      </p>
    </div>
  </nav>
</div>