<nav class="flex h-20 items-center justify-center p-6 shadow w-full">
  <div class="flex font-medium items-center justify-between max-w-6xl w-full">
    <LinkTo
      @route="application"
      class="font-bold inline-flex items-center text-gray-800 text-2xl"
    >
      Wüf
    </LinkTo>
  </div>
</nav>

<button type="button" {{on "click" this.analyseAudio}}>
  Test
</button>

{{outlet}}