<div class="flex flex-wrap justify-center w-full">
  <div
    class="flex flex-col flex-wrap justify-center items-center w-full lg:flex-row"
  >
    <div class="flex flex-wrap max-w-6xl w-full">
      <div class="flex flex-col items-center justify-center lg:w-1/2 w-full">
        <h1 class="font-bold text-heading text-4xl lg:text-5xl">
          Finally understand what your dog is saying.
        </h1>

        <div class="flex flex-wrap mt-8 justify-center w-full lg:justify-start">
          <LinkTo class="btn mb-4 lg:mr-4 lg:w-40" @route="upload">
            Upload
          </LinkTo>

          <LinkTo class="btn mb-4 lg:w-40" @route="microphone">
            Record
          </LinkTo>
        </div>
      </div>

      <div class="flex items-center -mt-2 lg:w-1/2 w-full">
        {{svg-jar "frenchie-ball" class="h-auto w-full"}}
      </div>
    </div>
  </div>
</div>