<div class="flex flex-wrap justify-center p-8 w-full">
  <div class="max-w-6xl w-full">
    <div class="flex flex-wrap items-center w-full">
      <div class="mb-2 mt-2 w-full">
        <h2 class="font-bold text-2xl">
          Files
        </h2>

        <AudioUploader
          @uploadAudioVideo={{this.audioAnalyzer.uploadAudioVideo}}
        />
      </div>

      <BarkType
        @barkType={{this.audioAnalyzer.barkType}}
        @barkDescription={{this.audioAnalyzer.barkDescription}}
      />

      <div class="mb-2 mt-2">
        <h2 class="font-bold text-2xl">
          Visualization
        </h2>

        <canvas
          class="bg-gray-800"
          id="canvas"
          width="800"
          height="256"
        ></canvas>
      </div>
    </div>
  </div>
</div>